:root {
    --rt-radius-md: 12px;
    --rt-radius-sm: 6px;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel='left'] {
    display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 6000;
}
.rt-divider {
    height: 2px;
    background: var(--f7-md-surface-3);
    position: relative;
    padding: 0;
    &::before {
        position: absolute;
        content: attr(data-text);
        background: var(--card-bg);
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
        padding: 0 0.375rem;
        color: inherit;
    }
}

.rt-google-icon {
    width: 30px;
    display: inline-block;
    margin-right: 1rem;
}
.navbar {
    --f7-navbar-bg-color: var(--f7-md-surface);
}
.popup {
    &.page-exit-popup {
        --f7-popup-border-radius: var(--rt-radius-md);
        --f7-safe-area-top: 0px;
        --f7-safe-area-bottom: 0px;
        --f7-popup-tablet-width: 300px;
        --f7-popup-tablet-height: 250px;
        max-width: 300px;
        max-height: 250px;
        align-self: center;
    }
}
@media all and (max-width: 658px) {
    .popup {
        &.page-exit-popup {
            top: 50%;
            left: 50%;
            width: 300px;
            height: 250px;
        }
        &.modal-in {
            transform: translate(-50%, -50%);
        }
    }
}
.rt-btn-plain {
    display: inline-block;
    color: inherit;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}
// Util classes
.rt-overlay {
    position: absolute;
    inset: 0;
    background: #0006;
    z-index: 2;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.gap-4 {
    gap: 1rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-1 {
    gap: 0.25rem;
}
.flex-grow {
    flex-grow: 1;
}
.jc-center {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.radius-sm {
    border-radius: 6px;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: 600;
}
.text-grey {
    color: grey;
}
.text-md {
    font-size: 18px;
}
.text-sm {
    font-size: 14px;
}
.ov-hidden {
    overflow: hidden;
}
.inline-block {
    display: inline-block;
}
.ml-4 {
    margin-left: 1rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0 !important;
}
.p-4 {
    padding: 1rem;
}
.p-2 {
    padding: 0.5rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.mt-a {
    margin-top: auto;
}
.mb-a {
    margin-bottom: auto;
}
.w-100p {
    width: 100%;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.text-wrap {
    white-space: normal !important;
}
/**

Global styles
**/
.rt-segmented-tab {
    border-radius: unset;
    z-index: 10;
    position: sticky;
    top: -10px;

    .button {
        font-size: 1rem;
    }
    .segmented-highlight {
        border-radius: unset;
        height: 4px;
        top: calc(100% - 4px);
        background: var(--f7-theme-color);
    }
}
.rt-tab-content {
    padding: 0;
    padding-top: 1rem;
    height: auto;
}
.rt-photo-preview {
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 0;

    .rt-photo-preview-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
    .rt-photo-preview-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rt-photo-preview-inner,
    .rt-photo-preview-placeholder {
        border-radius: 6px;
        position: relative;
        height: 100%;
        background: var(--f7-md-surface-1);
        max-width: 450px;
        margin: 0 auto;

        .rt-photo-preview-btn {
            position: absolute;
            z-index: 4;
            padding: 0.375rem;
            background: var(--f7-md-surface-1);
            border-radius: 50%;
            &.remove {
                right: -5px;
                top: -5px;
            }
            &.edit {
                left: -5px;
                bottom: -5px;
            }
        }
    }
}
@media all and (max-width: 568px) {
    .rt-photo-preview {
        height: 200px;
    }
}

.rt-photo-input-click-btn {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    font-weight: 600;
}
.rt-ing-item {
    &:hover {
        .rt-ing-delete-btn {
            visibility: visible;
        }
    }
    .rt-ing-delete-btn {
        visibility: hidden;
    }
}
.rt-sheet,
.rt-home-sheet {
    background: var(--card-bg);
    &.time-sheet {
        height: 350px;
    }
}
.rt-popover {
    background: var(--card-bg);
}
.time-swiper-wrap {
    height: 130px;
    display: flex;
    .time-swiper {
        // background: #000;
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            font-size: 17px;
            &.swiper-slide-active {
                border-top: 1.5px solid rgba(var(--f7-theme-color-rgb), 0.2);
                border-bottom: 1.5px solid rgba(var(--f7-theme-color-rgb), 0.2);
                // color: blue;
                font-weight: 500;
                opacity: 1;
            }
        }
    }
}

.page {
    &.custom-bg {
        background: var(--card-bg);
        .navbar-bg {
            background: var(--card-bg);
        }
    }
}

:root {
    --f7-md-surface: #f0f0ee !important;
    --card-bg: #fff;
    --f7-card-bg-color: var(--card-bg);
    --f7-navbar-bg-color: var(--card-bg);
    &.dark {
        --f7-md-surface: #1a1c19 !important;
        --card-bg: #1f261e;
    }
    .dark {
        --card-bg: #1f261e;
    }
}

.rt-avatar {
    --rt-avatar-w: 3rem;
    width: var(--rt-avatar-w);
    height: var(--rt-avatar-w);
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin-bottom: auto;
    &.rt-avatar-sm {
        --rt-avatar-w: 2.5rem;
    }
}

.rt-img-placeholder {
    font-size: 5rem;
    height: 100%;
    font-weight: 900;
    text-align: center;
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    color: #ccc7;
    inset: 0;
    position: absolute;
}

// Add recipe page styles

.rt-list {
    * {
        font-weight: 500;
    }
    .rt-list-title {
        font-weight: 600;
        font-size: 1.25rem;
        background: transparent;
    }

    .rt-list-input {
        ::placeholder {
            color: #aaa;
        }
    }
}
.rt-card {
}
.rt-card-header-link {
    color: inherit;

    border-radius: 8px !important;
}

.rt-card-header-name {
    margin-bottom: 0;
    font-size: 1.1rem;
}
.rt-card-content,
.rt-recipe-card-content {
    padding-bottom: 0;
    padding: 0.5rem;
    .rt-card-content-inner,
    .rt-recipe-card-content-inner {
        border-radius: 8px;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        // justify-content: flex-start;
        width: 100%;
        align-items: unset;
        color: inherit;
    }
    .rt-card-content-footer,
    .rt-recipe-card-content-footer {
        border-top: 1px solid #bdbbbb;
        padding: 0.75rem;
        font-size: 1.125rem;
        font-weight: 500;
        display: flex;
        // justify-content: space-between;
        flex-direction: column;

        background: rgba(var(--f7-theme-color-rgb), 0.05);
    }
}
.rt-card-img-wrap,
.rt-recipe-card-img-wrap {
    position: relative;
    background: rgba(var(--f7-theme-color-rgb), 0.05);

    height: 350px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    .rt-card-img,
    .rt-recipe-card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: 3;
        object-position: left center;
    }
}

.rt-recipe-card-footer,
.rt-card-footer {
    .rt-recipe-card-footer-inner,
    .rt-card-footer-inner {
        display: flex;
        align-items: center;
        width: 200px;
        padding: 0.375rem;
        justify-content: space-around;
        border-radius: 40px;
        background: rgba(var(--f7-theme-color-rgb), 0.13);
    }
    justify-content: start;

    .button {
        color: grey;
    }
}

.rt-recipe-mini-card {
    height: 100px;
    border-radius: var(--rt-radius-md);
    overflow: hidden;
    background: rgba(var(--f7-theme-color-rgb), 0.05);
    .rt-recipe-mini-card-link {
        width: 100%;

        align-items: unset;
    }
    .rt-recipe-mini-card-img {
        height: 100%;
        object-fit: cover;
        object-position: top;
        width: 30%;
        min-width: 70px;
        max-width: 150px;
    }
    .rt-recipe-mini-card-content {
        margin-left: 1.5rem;
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 1rem;
    }
    .rt-recipe-mini-card-title {
        font-weight: 500;
        font-size: 20px;
    }
}
@media all and (max-width: 568px) {
    .rt-card,
    .rt-recipe-card {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        .rt-card-img-wrap,
        .rt-recipe-card-img-wrap {
            height: 250px;
        }
    }

    .rt-recipe-mini-card {
        height: 80px;
        .rt-recipe-mini-card-content {
            margin-left: 0.5rem;
            padding: 0.37rem;
            .rt-recipe-mini-card-title {
                font-size: 17px;
            }
        }
    }
}
